<h1>New Book</h1>
<%= form_with model:@newbook, url:books_path, local:true do |f| %>
<h4>Title</h4>
<label for="title"></label>
<%= f.text_field :title %>

<h4>Body</h4>
<label for="opinion"></label>
<%= f.text_area :body %><br/>
<%= f.submit 'Create book'%>
<% end %>